################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/aws/__pycache__
/source/constants/__pycache__
/source/controller/__pycache__
/source/data/historical
/source/enumerations/__pycache__
/source/language/__pycache__
/source/modules/action/__pycache__
/source/modules/configurations/__pycache__
/source/modules/connection/__pycache__
/source/modules/fetch/__pycache__
/source/modules/indicators/__pycache__
/source/modules/shared/__pycache__
/source/modules/strategy/__pycache__
/source/modules/streaming/__pycache__
/source/modules/__pycache__
/source/output
/source/queue/__pycache__
/source/services/__pycache__
/source/utils/__pycache__
/source/ref_snippets.py
/__pycache__
/source/modules/helper/__pycache__
/source/modules/orders/__pycache__
__pycache__/
/env_python_3.12
/source/cache
*.idea/*