################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/aws/__pycache__
/backend/constants/__pycache__
/backend/controller/__pycache__
/backend/data/historical
/backend/enumerations/__pycache__
/backend/language/__pycache__
/backend/modules/signal/__pycache__
/backend/modules/configurations/__pycache__
/backend/modules/connection/__pycache__
/backend/modules/fetch/__pycache__
/backend/modules/indicators/__pycache__
/backend/modules/shared/__pycache__
/backend/modules/strategy/__pycache__
/backend/modules/streaming/__pycache__
/backend/modules/__pycache__
/backend/output
/backend/queue/__pycache__
/backend/services/__pycache__
/backend/utils/__pycache__
/backend/ref_snippets.py
/__pycache__
/backend/modules/helper/__pycache__
/backend/modules/orders/__pycache__
__pycache__/
/env_python_3.12
/backend/cache
/.vscode
*.idea/*