beautifulsoup4==4.12.3
boto3==1.34.11
botocore==1.34.11
Flask==3.0.2
kiteconnect==5.0.0
numpy==1.26.4
pandas==2.2.1
pyotp==2.9.0
redis==5.0.2
Requests==2.31.0
selenium==4.18.1
stocktrends==0.1.5
webdriver_manager==4.0.1
yfinance==0.2.33
