appdirs
attrs
autobahn
Automat
beautifulsoup4
certifi
cffi
charset-normalizer
constantly
cryptography
frozendict
h11
html5lib
hyperlink
idna
incremental
kiteconnect
lxml
multitasking
numpy
outcome
Package
packaging
pandas
peewee
pip
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
pyotp
PySocks
python-dateutil
python-dotenv
pytz
pywin32
requests
selenium
service-identity
setuptools
six
sniffio
sortedcontainers
soupsieve
stocktrends
trio
trio-websocket
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
urllib3
webdriver-manager
webencodings
wsproto
yfinance
zope.interface
