/*Custom CSS*/
#BtnGetStarted {
    background-color: red; /* Set background color to red */
    color: white; /* Set text color to white */
    padding: 10px 20px; /* Add padding to increase button size */
    font-size: 16px; /* Increase font size */
    border: none; /* Remove default button border */
    border-radius: 8px; /* Add border radius for rounded corners */
    margin: 30px;
    z-index: 1000;
}

.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.raleway-dots-regular {
    font-family: "Raleway Dots", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chakra-petch-medium {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.chakra-petch-semibold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.chakra-petch-light-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.chakra-petch-regular-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.chakra-petch-medium-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.chakra-petch-semibold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.chakra-petch-bold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
}
