<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /vite/demo
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /vite/demo/index.html [L]
</IfModule>

